NODE_ENV=development
PORT=3000

MONGO_URL=mongodb://mongo:27017
MONGO_DB_NAME=db_rhesa_utomo_betest

REDIS_URL=redis://redis:6379

JWT_SECRET=change-me-32-bytes-minimum-please
JWT_EXPIRES_IN=1h

CACHE_TTL_SECONDS=300
LOG_LEVEL=info
